<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-2">
          <div class="card-block p-2">
            <h1>Cadastro</h1>
            <form class="form-control" class="text-center">
              <label class="text-left">Tipo de Pessoa:</label>
              <input type="radio" name="tipo-pessoa" value="1"> Física
              <input type="radio" name="tipo-pessoa" value="2"> Juridica
            </form>
            <div class="input-group mb-1">
              <span class="input-group-addon"><i class="icon-user"></i></span>
              <input type="text" class="form-control" placeholder="Nome">
            </div>

            <div class="input-group mb-1">
              <span class="input-group-addon">@</span>
              <input type="text" class="form-control" placeholder="Email">
            </div>

            <div class="input-group mb-1">
              <span class="input-group-addon"><i class="icon-lock"></i></span>
              <input type="password" class="form-control" placeholder="Senha">
            </div>

            <div class="input-group mb-2">
              <span class="input-group-addon"><i class="icon-lock"></i></span>
              <input type="password" class="form-control" placeholder="Repetir Senha">
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-primary">Criar Conta</button>
              <button type="button" class="btn btn-secondary" [routerLink]="['']">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>